PORT=3001

# PostgreSQL
DB_HOST=72.61.62.17
DB_PORT=5434
DB_USER=bi_user
DB_PASSWORD=bi_password
DB_NAME=bi_cometa

# App BI Config
CACHE_TTL_MINUTES=5
ESTOQUE_MINIMO=50
QUEDA_VENDAS_PERCENT=15

# MongoDB Atlas
MONGO_URI=mongodb+srv://USUARIO:SENHA@cluster.mongodb.net/ia_cometa?retryWrites=true&w=majority
